.gameBody{
  background-color: rgba(245, 245, 245, 0.037);
  height: 100%;
  align-self: center;
  z-index: 10;
  border: 1px solid black;
  width: 99.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cowContainerDiv{
  border: 1px solid blue;
  width: 75%;
  height: 100%;
}

.shopContainerDiv{
  border: 1px solid red;
  background-color: rgba(255, 255, 255, .65);
  width: 25%;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.infoDiv {
    border: 1px solid black;
    height: 27.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}


.hoverDiv {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.shopDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#saveGame {
  width: 75px;
  height: 40px;
  border: 2px solid black;
  position: absolute;
  cursor: pointer;
  z-index: 50;
  left: 45px;
  transition: all 0.1s ease-in-out;
}

#saveGame:hover {
  width: 100px;
  transition: all 0.3s ease-in-out;
}

.shopButton {
    height: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
}

.shopButton:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

.shopOptions {
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 95%;
}

.hitbox {
  background-color: rgba(255, 255, 255, 20%);
  width: 310px;
  height: 355px;
  border: 2px solid black;
  border-radius: 150px;
  cursor: pointer;
  transition: all 0.2s linear;
}

#hitbox { 
  position: fixed;
  left: 380px;
  top: 150px;
}

#hitbox2 {
  position: fixed;
  left: 700px;
  top: 150px;
  width: 200px;
  height: 250px;
}

#hitbox3 {
  background-color: rgba(78, 78, 78, 0.25);
  position: fixed;
  left: 700px;
  top: 480px;
  width: 200px;
  height: 250px;
}

#hitbox4 {
  background-color: rgba(78, 78, 78, 0.25);
  position: fixed;
  left: 150px;
  top: 400px;
  width: 200px;
  height: 250px;
}

#hitbox5 {
  background-color: rgba(78, 78, 78, 0.25);
  position: fixed;
  left: 100px;
  top: 100px;
  width: 200px;
  height: 250px;
}


.hitbox:hover {
  transform: scale(1.025);
  transition: all 0.1s linear;
}

.hitbox:active {
  transform: scale(1.1);
  transition: all 0.1s linear;
}

#extraCows {
  position: relative;
  left: 50px;
  top: 50px;
}

