body {
    /* background-color: green; */
    height: 91vh;
    overflow-y: hidden;
    background-image: url('https://i.imgur.com/TUKWVFl.jpg');
    background-position:center top;
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
    z-index: 0;
}




#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    height: 110%;
}

.main {
    display: flex;
    flex-direction: column;
    
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.LoginDiv {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    background-color: rgba(241,239,224, .8);
    padding: 30px 100px;
    box-shadow: 0px 8px 32px 8px rgba(0,0,0,0.35);
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.LoginDiv button, input {
    cursor: pointer;
}

.LoginDiv input {
    padding: 5px 10px;
}

.LoginDiv button:hover, .LoginDiv input:hover {
    transform: scale(1.025);
    transition: all 0.15 ease-in-out;
}

.LoginDiv:hover {
    transform: scale(1.01) rotate(0.05deg);
    transition: all .3s ease-in-out;
}

.loginform {
    /* margin: 15px; */
    /* background-color: green; */
    gap: 10px;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
}

.username{
    border: none; 
    width: 300px; 
    height: 40px;
    border-radius: 15px;
}

.username::placeholder{
    font-size: 15px;
    text-align: center;
}
.password{
    border: none;
    width: 300px; 
    height: 40px;
    border-radius: 15px;
}

.password::placeholder{
    font-size: 15px;
    text-align: center;
}

.loginButton{
    
}

.signupToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginHeader { 
    transition: all 0.25s ease-in-out;
}

#loginHeader:hover {
    transform: scale(1.025);
    transition: all 0.25s ease-in-out;
}